
<div class="wrapper">
  <div class="white-bg">
    <div class="container">
      <div class="login-wrapper">
        <div class="login_formContent">
          <!-- Tabs Titles -->
          <!-- Icon -->
          <div class="login-bg">
            <span class="text-white">Welcome to</span>
            <h2>Order Management System</h2>
          </div>
          <div class="login-box">
            <!--<button type="button" class="btn btn-md btn-outline-light">Sign Up</button><br><br>-->
            <a [routerLink]="['login']"><div type="button" class="btn btn-md btn-light text-info">Login</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
